# LLM API keys
GROQ_API_KEY=
OPENAI_API_KEY=

# Postgres connection string
# local docker
DATABASE_URL=postgres://postgres:postgres@localhost:5432/rag_logs
# set env variable DATABASE_URL to the connection string of your Postgres database if you want to use a different database in the cloud like Neon
# DATABASE_URL=postgres://user:password@ep-xxx.us-east-2.aws.neon.tech:5432/neondb?sslmode=require

# Optional Cloud (Neon) Postgres connection string, used for
# migrating local data to the cloud database
DATABASE_URL_CLOUD=postgres://user:password@ep-xxx.us-east-2.aws.neon.tech:5432/neondb?sslmode=require

# Grafana admin credentials
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
